@import "./mixins";

.header {
    display: flex;
    justify-content: space-between;

    position: fixed;
    right: 0;
    left: 0;

    max-width: 1500px;

    margin: 0 auto;
    padding: 60px 40px 0;

    &__logo {       
        margin: 0;

        font-size: 32.5px;
        font-weight: 800;

        &-wrapper {
            font-family: "Montserrat", serif;
            color: #fff;
            margin-right: 25px;
        }

        &_bottom {
            margin: 0;
            font-size: 12px;
        }
    }
}